:root {
    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --primary-color: #0D0D0D;
    --secondary-color: #CCCCCC;
    --tertiary-color: #626AAC;
    --hover-color: #191970;
}

@font-face {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font);
    font-size: 23px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    line-height: 1.6;
}

header, section, section h2, section ul, section li {
    margin: 20px;
}

header {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
    padding: 20px;
}

nav {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--tertiary-color);
    transition: color 0.3s ease;
    font-weight: bold;
    font-size: 30px;
    margin: 70px;
}

nav a:hover {
    color: var(--hover-color);
}


#contato {
    background-color: var(--secondary-color);
    padding: 15px;
    text-align: center;
}

#contato a {
    text-decoration: none;
    color: var(--tertiary-color);
    transition: color 0.3s ease;
    font-weight: bold;
    font-size: 25px;
    margin: 30px;
}

#contato a:hover {
    color: var(--hover-color);
}


section, section h2, section ul, section li {
    margin: 20px;
}

#skills {
    margin: 20px 0;
}

.tool-category {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tool-category h3 {
    color: var(--secondary-color);
    font-size: 1.2em;
}

.tool-category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tool-category li {
    margin-bottom: 5px;
    font-size: 1em;
    color: var(--tertiary-color);
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    nav a {
        margin-top: 10px;
    }
}