@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
a {
    text-decoration: none;
    color: #F4EEE0;
}

body {
    background: linear-gradient(to bottom, #4F4557, #1E1E1E);
    color: #F4EEE0;
    font-family: "Inter", sans-serif; 
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}  

nav ul li {
    font-size: 30px;
    color: #F4EEE0;
    padding: 10px 15px;
}

nav ul li:hover {
    font-weight: bold;
}