:root {
    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --primary-color: #0D0D0D;
    --secondary-color: #d2b8ba;
    --tertiary-color: #c26269;
    --hover-color: #9c6c70;
}

@font-face {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font);
    font-size: 23px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    line-height: 1.6;
}

header, nav, section, section h2, section ul, section li {
    margin: 20px;
}

header {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
    padding: 20px;
}

nav {
    background-color: var(--tertiary-color);
    height: 100px;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: var(--tertiary-color); /* Corrigir para a cor certa */
    height: 100%;
}

nav a, #contact a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a:hover, #contact a:hover {
    color: var(--hover-color);
}

section, section h2, section ul, section li {
    margin: 20px;
}

.skills li {
    margin-bottom: 10px;
}

.skills strong {
    font-weight: 600;
    margin-right: 5px;
}

.skills img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    nav a {
        margin-top: 10px;
    }
}
